/data/Sandbox/_app/Nominal/changes
/data/Sandbox/_app/Nominal/NML*
/data/Sandbox/Nominal
/lib/Foswiki/Plugins/NominalPlugin/MANIFEST
/pub/System/NominalPlugin/css/*
/pub/System/NominalPlugin/js/*
/node_modules/*
